<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/69bf24ab9c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/home/audition_star.css">
  <title>UNIVERSING</title>
</head>

<body>
  <header class="top_bar">
    <div class="return" onclick="history.back();"><i class="fa-solid fa-angle-left"></i></div>
    <div class="top_text">우주대스타</div>
  </header>
  <nav>
    <div class="nav_bar">
      <ul class="nav_title">
        <li><a href="audition_star">실시간 순위</a></li>
        <li><a href="audition">영상 더보기</a></li>
      </ul>
    </div>
    </nav>


   <main>
    <div class="sub_title">
        <span class="sub_1">5월 우주대스타 랭킹</span> 
        <span class="sub_2">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-filter"></i>
        </span>
    </div>

    <div class="rank">

      <div class="rank_profile">
        <img src="../../uploadimages/KakaoTalk_20220927_2041077611664279041603.jpg"  class="rowrank">
        <div class="rank_num">2</div>
        <ul class="rank_list">
          <li class="rank_name">김채린</li>
          <li>100,150</li>
          <li><button class="rank_bnt">투표</button></li>
        </ul>
      </div>

      <div class="rank_profile">
        <img src="../../uploadimages/KakaoTalk_20220927_2040539071664448735408.jpg"  class="hirank">
        <div class="rank_num">1</div>
        <ul class="rank_list">
          <li class="rank_name">문빛채운</li>
          <li>150,580</li>
          <li><button class="rank_bnt">투표</button></li>
        </ul>
      </div>

      <div class="rank_profile">
        <img src="../../uploadimages/KakaoTalk_20220930_0219241081664474683426.jpg" class="rowrank">
        <div class="rank_num">3</div>
        <ul class="rank_list">
          <li class="rank_name">유다인</li>
          <li>90,780</li>
          <li><button class="rank_bnt">투표</button></li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="rowrank_list">

      <div class="list_1">
        <div>
           <ul class="list">
        
            <li><h2>4</h2></li>
             <li><img src="./profile.jpg" alt=""></li>
               <div>
                <li class="row_name">전애란<span class="row">5<i class="fa-solid fa-caret-down"></i></span></li>
                 <li>89,752</li>
             </ul>
         </div>
      <div class="row_bnt">
      <button >투표</button>
    </div>
  </div>
  
  <div class="list_1">
    <div>
      <ul class="list">
        
        <li><h2>5</h2></li>
       <li><img src="./profile.jpg" alt=""></li>
       <div>
       <li class="row_name">김예린<span class="hi">15<i class="fa-solid fa-caret-up"></i></span> </i></li>
       <li>75,789</li>
      
      </ul>
    </div>
    <div class="row_bnt">
      <button >투표</button>
    </div>
  </div>


  <div class="list_1">
    <div>
      <ul class="list">
        <li><h2>6</h2></li>
        <li><img src="./profile.jpg" alt=""> </li>
        <div>
          <li class="row_name">김파카<span class="row">1<i class="fa-solid fa-caret-down"></i></span></li>
          <li>65,889</li>
        
      </ul>
    </div>

  <div class="row_bnt">
    <button >투표</button>
  </div>

</div>
</div>
   </main>
   
   <footer>
    <ul class="bottom_bar">
      <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
      <li><a href="/post"><i class="fa-solid fa-rectangle-list"></i></a></li>
      <li><a href="/music_list"><i class="fa-solid fa-music"></i></a></li>
      <li><a href="/chat"><i class="fa-solid fa-comment"></i></a></i>
      <li><a href="/myinfo"><i class="fa-solid fa-user"></i></a></li>
  </ul>
</footer>

</body>
</html>