<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/69bf24ab9c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/home/chat.css">
  <title>UNIVERSING</title>
</head>
<body>
  <header>
    <div clas="header_bar">
      <i class="fa-solid fa-angle-left" onclick="history.back();"></i>
      <%=rows.nickname%>
    </div>
  </header>
  <main>
    <div class="top_bar">
      <ul class="nav_title">
        <!-- <li>일반채팅</li> -->
        <!-- <li>멘토요청</li> -->
    </ul>
      
    </div>
    <a href="#">
    <div class="chat_list">
       <div class="chat_1">
         <div class="chat_1_group" onclick="location.href='chatting';">
         <div class="chat_1_img"><img src="imgs/man1.jpg"></div>
         <div class="chat_1_detail">
          <div class="name">안보현</div> 
           <div class="chat_hint" > 안녕하세요.</div>
         </div>
        </div>
      </a>
          <div class="chat_1_time">
            <div class="time"> 17:00</div>
            <div class="read">1</div> 
          </div>
       </div> 
     
       <a href="#">
       <div class="chat_2">
        <div class="chat_2_group" onclick="location.href='chatting';">
        <div class="chat_2_img"><img src="imgs/man2.jpg""></div>
        <div class="chat_2_detail">
          <div class="name"> 장원영</div>
          <div class="chat_hint">연예인 하세요</div>
        </div>
        </div>
      </a>
         <div class="chat_1_time">
          <div class="time">17:00</div>
          <div class="read">1</div> 
         </div>
      </div> 
      

      <a href="#"> <div class="chat_3">
        <div class="chat_3_group" onclick="location.href='chatting';">
        <div class="chat_3_img"><img src="imgs/women3.jpg""></div>
        <div class="chat_3_detail">
          <div class="name"> 리사 </div>
          <div class="chat_hint">뭐해? 자니?</div>
        </div>
        </div>
      </a>
         <div class="chat_1_time">
          <div class="time">17:00</div>
          <div class="read">1</div> 
         </div>
      </div> 
   
      <a href="#">
      <div class="chat_4">
        <div class="chat_4_group" onclick="location.href='chatting';">
        <div class="chat_4_img"><img src="imgs/man3.jpg""></div>
        <div class="chat_4_detail">
          <div class="name">  서공예 </div>
          <div class="chat_hint">안녕하세용</div>
        </div>
        </div>
      </a>
         <div class="chat_1_time">
          <div class="time">17:00</div>
           <div class="read">1</div> 
         </div>
      </div> 
   
    <a href="#">
      <div class="chat_5">
        <div class="chat_5_group" onclick="location.href='chatting';">
        <div class="chat_5_img"><img src="imgs/man2.jpg""></div>
        <div class="chat_5_detail">
          <div class="name">안보현</div>
          <div class="chat_hint">오오...</div>
        </div>
        </div>
      </a>
         <div class="chat_1_time">
          <div class="time">17:00</div>
          <div class="read">1</div> 
         </div>
      </div> 
    </div>

    <footer>
      <ul class="bottom_bar">
        <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
        <li><a href="/post"><i class="fa-solid fa-rectangle-list"></i></a></li>
        <li><a href="/music_list"><i class="fa-solid fa-music"></i></a></li>
        <li><a href="/chat"><i class="fa-solid fa-comment"></i></a></i>
        <li><a href="/myinfo"><i class="fa-solid fa-user"></i></a></li>
    </ul>
  </footer>
</body>
</html>