<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e0e0d61159.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/home/mento_review.css">
    <title>UNIVERSING</title>
</head>
<body>
    <div class="myinfo">
        <div class="myinfo_btn">
            <div class="back_btn" onclick="history.back();">
                <i class="fa-solid fa-angle-left"></i>
            </div>
            <div class="follow_chat_btn">
                <div class="follow_btn">멘토인증</div>
            </div>
        </div>

        <div class="profile_img">
            <img src="imgs/women1.jpg" alt="">
        </div>
    </div> 

    <div class="pofile" >
        <div class="profile_name"> 
           <span>won_young101</span>
        </div>
     </div>

     <div class="review">
         <div class="review_top">
             <div class="review_score">
                 총점 5.0
             </div>
             <div class="review_more">
                <div class="review_star">
                    ★★★★★
                </div>
                <div class="review_text">
                    315개의 리뷰
                </div>
             </div>
         </div>

         <div class="review_main">
            <div class="review_box_top">
                <div class="user">
                    <span class="name">김**</span>
                    <sapn class="star"> ★★★★★</sapn>
                </div>
                <div class="more">
                   더보기
                </div>
            </div>
            <div class="review_box_main">
                채린쌤 모든게 완벽 합니다. 완전 친절하시고 섬세한 코칭까지.. 완전 최고에요ㅠ.ㅠ 그리고 트레이닝 장소가 너무 쾌적하고 완전 예뻐요. 교통도 최고입니다.
            </div>
         </div>

         <div class="review_main">
            <div class="review_box_top">
                <div class="user">
                    <span class="name">박**</span>
                    <sapn class="star"> ★★★★★</sapn>
                </div>
                <div class="more">
                   더보기
                </div>
            </div>
            <div class="review_box_main">
                부끄러움이 많은 성격이라 트레이닝 받기 전까지 너무 떨렸는데 실제로 받아보니 선생님이 너무 친절하시고 잘해주셔서 편하게 수업을 받을 수 있었습니다.
            </div>
         </div>

         <div class="review_main">
            <div class="review_box_top">
                <div class="user">
                    <span class="name">문**</span>
                    <sapn class="star"> ★★★★★</sapn>
                </div>
                <div class="more">
                   더보기
                </div>
            </div>
            <div class="review_box_main">
                교통도 좋고 수업 환경도 너무 좋습니다. 깔끔하고 쾌적해요~ 선생님의 코칭실력도 너무 좋으시고, 친절하고 재미도 있으십니다. 다음 수업이 너무 기대가 됩니다!
            </div>
         </div>

         <div class="review_main">
            <div class="review_box_top">
                <div class="user">
                    <span class="name">최**</span>
                    <sapn class="star"> ★★★★★</sapn>
                </div>
                <div class="more">
                   더보기
                </div>
            </div>
            <div class="review_box_main">
                항상 노래방에서 노래를 부르는 것이 부끄러웠는데, 선생님 덕분에 당당히 노래를 부를 수 있게 되었습니다! 친구들도 깜짝 놀랍니다ㅎㅎ 앞으로도 계속 같이 수업하고싶어요~
            </div>
         </div>
     </div>

    

    <footer>
        <ul class="bottom_bar">
            <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
            <li><a href="/post"><i class="fa-solid fa-rectangle-list"></i></a></li>
            <li><a href="/music_list"><i class="fa-solid fa-music"></i></a></li>
            <li><a href="/chat"><i class="fa-solid fa-comment"></i></a></i>
            <li><a href="/myinfo"><i class="fa-solid fa-user"></i></a></li>
        </ul>
    </footer>
</body>
</html>