<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/69bf24ab9c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/home/store3.css">
  <title>UNIVERSING</title>
</head>

<body>
  <header class="top_bar">
  
    <div class="return" onclick="history.back();"><i class="fa-solid fa-angle-left"></i></div>
    <div class="top_text">스토어</div>
    <div class="icons">
    </div>
  </header>
  
  <nav>
    <div class="nav_bar">
      <ul class="nav_title">
        <li><a href="./store3">프리미엄</a></li>
        <li><a href="./store1">스타링 구매</a></li>
        <li><a href="./store2">이모티콘</a></li>
      </ul>
    </div>
    <main>

        <div class="premium_starring">
          <img src="imgs/storeimg1.png" alt="">
        </div>

        <ul>
         <li>
          <ul>
            <li>
              유니버싱 1개월 자유이용권 
            </li>
            <li>
              2,900원
            </li>
            <li>
              <button> 결제하기 </button>
            </li>
          </ul>
         </li>
         <li>
          <ul>
            <li>
              유니버싱 3개월 자유이용권 
            </li>
            <li>
              5,900원
            </li>
            <li>
              <button> 결제하기 </button>
            </li>
          </ul>
         </li>
         <li>
          <ul>
            <li>
              유니버싱 6개월 자유이용권 
            </li>
            <li>
              7,900원
            </li>
            <li>
              <button> 결제하기 </button>
            </li>
          </ul>
         </li>
         <li>
          <ul>
            <li>
              유니버싱 1년 자유이용권 
            </li>
            <li>
              22,900원
            </li>
            <li>
              <button> 결제하기 </button>
            </li>
          </ul>
         </li>
        </ul>
    </main>
    <footer>
      <ul class="bottom_bar">
        <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
        <li><a href="/post"><i class="fa-solid fa-rectangle-list"></i></a></li>
        <li><a href="/music_list"><i class="fa-solid fa-music"></i></a></li>
        <li><a href="/chat"><i class="fa-solid fa-comment"></i></a></i>
        <li><a href="/myinfo"><i class="fa-solid fa-user"></i></a></li>
      </ul>
  </footer>
</body>

</html>