<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/69bf24ab9c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/home/store2.css">
  <title>UNIVERSING</title>
</head>

<body>
  <header class="top_bar">
  
    <div class="return" onclick="history.back();"><i class="fa-solid fa-angle-left"></i></div>
    <div class="top_text">스토어</div>
    <div class="icons">
    </div>
  </header>
  
  <nav>
    <div class="nav_bar">
      <ul class="nav_title">
        <li><a href="./store3">프리미엄</a></li>
        <li><a href="./store1">스타링 구매</a></li>
        <li><a href="./store2">이모티콘</a></li>
      </ul>
    </div>
    </nav>
    <main>
      <div class="emj_topbar">
      <ul class="emj_topbar_list">
        <li>인기순</li>
        <li>최신순</li>
        <li>리뷰순</li>
        <li>가격순</li>
        <i class="fa-solid fa-filter"></i>
      </ul>
      <div class="emj_topbar_search">
      <input type="text">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    </div>


    <div class="emj_list">
          
      <ul class="list">
        <li><h2>1</h2></li>
        <li><img src="./emoji.png" alt=""></li>
        <div>
        <li> 너무 귀여운 이모티콘</li>
        <li>50<i class="fa-solid fa-star"></i></li>
      </div>
      </ul>
      <ul class="list">
        <li><h2>2</h2></li>
       <li><img src="./emoji.png" alt=""></li>
       <div>
       <li>너무 깜찍한 이모티콘</li>
       <li> 50<i class="fa-solid fa-star"></i></li>
      </div>
      </ul>
      <ul class="list">
        <li><h2>3</h2></li>
        <li><img src="./emoji.png" alt=""> </li>
        <div>
          <li>완전 재미있는 이모티콘</li>
          <li>50<i class="fa-solid fa-star"></i></li>
        </div>
      </ul>
      <ul class="list">
        <li><h2>4</h2></li>
        <li><img src="./emoji.png" alt=""></li>
        <div>
        <li> 취향저격 탕탕 이모티콘</li>
        <li>50<i class="fa-solid fa-star"></i></li>
      </div>
      </ul>
      <ul class="list">
        <li><h2>5</h2></li>
        <li><img src="./emoji.png" alt=""></li>
        <div>
          <li>최고의 인기 이모티콘</li>
          <li>50<i class="fa-solid fa-star"></i></li>
        </div>
      </ul>
    
  </div>
    </main>
    <footer>
      <ul class="bottom_bar">
        <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
        <li><a href="/post"><i class="fa-solid fa-rectangle-list"></i></a></li>
        <li><a href="/music_list"><i class="fa-solid fa-music"></i></a></li>
        <li><a href="/chat"><i class="fa-solid fa-comment"></i></a></i>
        <li><a href="/myinfo"><i class="fa-solid fa-user"></i></a></li>
      </ul>
  </footer>
</body>

</html>