<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home/vocalgenre.css">
    <title>UNIVERSING</title>
</head>
<body>
    <div class="center"> 
        <div class="mainTitle">AI추천장르</div>
        <div class="resultTitle">발라드</div>
        <!-- <button onclick="location.href='music_list'">다시부르기</button> -->
        <button onclick="location.href='vocalwave'">파형보기</button>
    </div>
       
</body>
</html>