<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/resultGlaph.css">
    <title>UNIVERSING</title>
</head>
<body>
    <header>
        <div class="title">분석결과</div>
    </header>


    <section>

    
        <!-- <div class="graph1">
            <div class="originGraph1">
                <div class="originSong">원곡</div>
                <img src="/Data/images/if_you_chearin.png" alt="">
            </div>
            <div class="myGraph1">
                <div class="mySong">내가 부른 곡</div>
                <img src="/Data/images/if_you_chearin.png" alt="">
            </div>
        </div> -->

        <img src="/Data/images/<%-waveImage%>" alt="" class="user_img"> <!--사용자..선명-->
        <img src="/Data/images/v-good-day.png" alt="" class="opacity_img"> <!--원곡..흐릿...-->
    </section>

    <footer>
        <button onclick="location.href='vocalResult'">AI분석</button>
    </footer>
</body>
</html>